.toDo-Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.todo-head {
  margin-bottom: 15px;
}
.todo-button {
  font-family: "Lobster", cursive;
  background-color: #151a29;
  border: none;
  font-weight: 800;
  font-size: 20px;
  color: #b0aeaf;
}
.todo-button:active {
  background-color: #b0aeaf;
  color: #151a29;
}
